<div class="col-12 " style="margin-top: 50px;">
  <nav>
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item"><a routerLink="/animal">Listagem</a></li>
      <li class="breadcrumb-item active">Animal</li>
    </ol>
  </nav>
  <form class="needs-validation" novalidate [formGroup]="animalForm">
    <div class="card">
      <div class="card-header bg-dark" style="color: white; font-size: 14pt; font-weight: bold;">
        Inclusão e Gerenciamnento de Animais
      </div>
      <div class="card-body">
        <nav class="col-md-12">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cadastro</a>
          </div>
        </nav>
        <div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="form-row col-md-12 mt-3">
              <div class="form-group col-md-1">
                <label for="id">ID:</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  formControlName="id"
                  readonly/>
              </div>
              <div class="form-group col-md-5">
                <label for="nome">Nome:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  formControlName="nome"
                  />
              </div>
              <div class="form-group col-md-2">
                <label for="especie">Espécie:</label>
                <select id="especie" class="form-control" formControlName="especie">
                  <option value="">Selecione</option>
                  <option>Canino</option>
                  <option>Felino</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="porte">Porte:</label>
                <select id="porte" class="form-control" formControlName="porte">
                  <option value="">Selecione</option>
                  <option>Pequeno</option>
                  <option>Médio</option>
                  <option>Grande</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="dataNascimento">Data de Nascimemto:</label>
                <input
                  type="date"
                  class="form-control"
                  id="dataNascimento"
                  formControlName="dataNascimento"
                  />
              </div>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-2">
              <label for="peso">Peso:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Kg</span>
                </div>
              <input
                type="number"
                class="form-control"
                id="peso"
                formControlName="peso"
                />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label for="cor">Cor:</label>
              <select id="cor" class="form-control" formControlName="cor">
                <option value="">Selecione</option>
                <option>Branco</option>
                <option>Preto</option>
                <option>Amarelo</option>
                <option>Caramelo</option>
                <option>Pintado</option>
                <option>Malhado</option>
                <option>Creme</option>
                <option>Outros</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="sexo">Sexo:</label>
              <select id="sexo" class="form-control" formControlName="sexo">
                <option value="">Selecione</option>
                <option>Masculino</option>
                <option>Feminino</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="raca">Raça:</label>
              <select id="raca" class="form-control" formControlName="raca">
                <option value="">Selecione</option>
                @for( select of selectRaca; track select.id){
                  <option [value]="select.id">{{ select.descricao }}</option>
                }
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="humano">Humano:</label>
              <select id="humano" class="form-control" formControlName="humano">
                <option value="">Selecione</option>
                @for( select of selectHumano; track select.id){
                  <option [value]="select.id">{{ select.nome }} {{ select.sobrenome }}</option>
                }
              </select>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-10">
              <label for="observacao">Obs.:</label>
              <input
                type="text"
                class="form-control"
                id="observacao"
                formControlName="observacao"
                />
            </div>
            <div class="form-group col-md-2">
              <label for="status">Status:</label>
              <select id="status" class="form-control" formControlName="status">
                <option value="">Selecione</option>
                <option>Ativo</option>
                <option>Inativo</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="float-right mt-3">
    <button  type="submit" data-toggle="modal" data-target="#ModalSalvar" class="btn btn-success" (click)="onSubmit()">
      <i class="fas fa-save"></i> &nbsp;Salvar
    </button>
    <button routerLink="/animal" class="btn btn-info ">
      <i class="fas fa-backward"></i>&nbsp;Voltar
    </button>
  </div>
</div>
<div>
</div>
