<div class="col-12 " style="margin-top: 50px;">
  <nav>
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item"><a routerLink="/banho">Listagem</a></li>
      <li class="breadcrumb-item active">Banho e Tosa</li>
    </ol>
  </nav>
  <form class="needs-validation" novalidate [formGroup]="banhoTosaForm">
    <div class="card">
      <div class="card-header bg-dark" style="color: white; font-size: 14pt; font-weight: bold;">
        Inclusão e Gerenciamento de Banho e Tosa.
      </div>
      <div class="card-body">
        <nav class="col-md-12">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{ moduloPagamento === true ? "Baixar Banho" : "Cadastrar" }}</a>
          </div>
        </nav>
        <div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          @if(moduloPagamento === false){
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="form-row col-md-12 mt-3">
              <div class="form-group col-md-1">
                <label for="id">ID:</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  formControlName="id"
                  readonly/>
              </div>
              <div class="form-group col-md-5">
                <label for="animal">Animal:</label>
                <select id="animal" class="form-control" formControlName="animal">
                  <option value="">Selecione</option>
                  @for( select of selectAnimal; track select.id){
                    <option [value]="select.id">{{ select.nome }} - {{ select.humano.nome }} {{ select.humano.sobrenome }}</option>
                  }
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="inicio">Inicio:</label>
                <input
                  type="datetime-local"
                  id="inicio"
                  class="form-control"
                  formControlName="inicio"/>
              </div>
              <div class="form-group col-md-3">
                <label for="statusBanhoTosa">Status do Banho:</label>
                <select id="statusBanhoTosa" class="form-control" formControlName="statusBanhoTosa">
                  <option value="">Selecione</option>
                  <option>Em espera</option>
	                <option>Banho</option>
	                <!-- <option>Tosa</option>
                  <option>Secagem</option> -->
                  <option>Finalizado</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row col-md-12">
              <div class="form-group col-md-3">
                <label for="termino">Termino:</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  id="termino"
                  formControlName="termino"
                  />
              </div>
              <div class="form-group col-md-5">
                <label for="tipoBanhoTosa">Tipo Banho é Tosa:</label>
                <select id="tipoBanhoTosa" class="form-control" formControlName="tipoBanhoTosa">
                  <option value="">Selecione</option>
                  @for( select of selectTipoBanhoTosa; track select.id){
                    <option [value]="select.id">{{ select.descricao }} - R$ {{ select.valor.toString().replace('.', ',') }}</option>
                  }
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="statusPagamentoBanho">Status Pagamento:</label>
                <select id="statusPagamentoBanho" class="form-control" formControlName="statusPagamentoBanho">
                  <option value="">Selecione</option>
                  <option>Em aberto</option>
                  <option>Pago</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="status">Status:</label>
                <select id="status" class="form-control" formControlName="status">
                  <option value="">Selecione</option>
                  <option>Ativo</option>
                  <option>Inativo</option>
                </select>
              </div>
            </div>

            <div class="form-row col-md-12 d-flex justify-content-end">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="buscar">
                <label class="form-check-label" for="inlineCheckbox1">Buscar</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="entregar">
                <label class="form-check-label" for="inlineCheckbox2">Entregar</label>
              </div>
            </div>

            <div class="form-row col-md-12">
              <div class="form-group col-md-12">
                <label for="observacao">Obs.:</label>
                <input
                  type="text"
                  class="form-control"
                  id="observacao"
                  formControlName="observacao"
                  />
              </div>
            </div>
          }
          @if(moduloPagamento === true){
            <div class="d-flex justify-content-center mt-3">
              <div>
                <div class="h4" style="color: #000;">{{ animalNome }} - <span class="h4" style="color: blue;">{{ animalHumano }}</span> - <span class="h4" style="color: blue;">{{ sharedService.formatDate(inicio)}}</span> </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <div class="card bg-light mb-3" style="max-width: 60rem;">
                <div class="card-header">Resumo</div>
                <div class="card-body">
                  <h5 class="card-title">{{ tituloBanho }}
                    <span style="margin-left: 100px;">
                        <i class="fas fa-arrow-down" *ngIf="buscar" title="Buscar" style="color: green;"></i>
                        <i class="fas fa-arrow-up" *ngIf="entregar" title="Entregar" style="color: red;"></i>
                    </span>
                  </h5>
                    <div class="card-text">Valor do Banho: <span style="margin-left: 55px;">{{ valorBanho?.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span></div>
                    <div class="card-text" *ngIf="transporteAnimal > 0 || transporteAnimal != null" style="border-bottom: 1px solid red;"><span style="color: blue;">(+)</span> Valor do Transporte: {{ transporteAnimal.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</div>
                    <div class="card-text">Total: <span style="margin-left: 130px; font-weight: bold;">{{ totalBanho.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span></div>
                    @if(adicionarDesconto){
                      <div class="card-text">Desconto: <span style="margin-left: 98px; color: red;">{{ desconto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span></div>
                      <div class="card-text">Total com Desconto: <span style="margin-left: 25px;  color: green; font-weight: bold;">{{ totalBanhoDesconto?.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span></div>
                    }
                    @if(!adicionarDesconto){
                      <div class="mt-1">
                        <input
                        type="number"
                        class="form-control"
                        id="desconto"
                        formControlName="desconto"
                        />
                      </div>
                    }
                    <div class="mt-2">
                      <button class="btn btn-success" (click)="permitirDesconto()">
                        Adicionar Desconto
                      </button>
                    </div>
                    <div class="mt-2">
                      <span style="color: green; font-weight: bold;">{{ statusPagamentoBanho }}</span>
                    </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </form>
  <div class="float-right mt-3">
    <button  type="submit" data-toggle="modal" data-target="#ModalSalvar" class="btn btn-success" (click)="onSubmit()">
      <i class="fas fa-save"></i> &nbsp;{{ moduloPagamento === true ? "Baixar" : "Salvar" }}
    </button>
    <button routerLink="/banho" class="btn btn-info ">
      <i class="fas fa-backward"></i>&nbsp;Voltar
    </button>
  </div>
</div>
<div>
</div>
