<div class="col-md-12" style="margin-top: 50px;">
  <nav>
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item active">Listagem</li>
    </ol>
  </nav>
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h5 border-left pl-2">
        Listagem de Tipo de Banhos e Tosas
      </h1>
    </div>
    <div class="col-md">
      <button routerLink="new" class="btn btn-primary float-right">
        <i class="fas fa-user-plus"></i> Cadastrar Banho é Tosa
      </button>
    </div>
  </div>
  @defer (when carregando){
    <div id="table" class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr class="bg-dark text-light">
            <th>ID</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @for(lista of listaTipoBanhoTosa; track lista.id; let i = $index){
          <tr>
            <td>{{ lista.id }}</td>
            <td>{{ lista.descricao }}</td>
            <td>{{ lista.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</td>
            <td>{{ lista.status }}</td>
            <td>
              <button (click)="editar(lista.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
              @if(lista.id > 0){
                <button (click)="recuperarDados(lista)" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-user-slash"></i></button>
              }
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  } @placeholder {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary mt-4" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  } @loading {
    <p>Carregando a Lista de Banhos...</p>
  }
  @if(tipoBanhoTosa){
    <div>
      <app-modal-form [entrada]="tipoBanhoTosa" (emitirEvento)="excluirRegistro($event)"/>
    </div>
  }
</div>
