@defer (when carregando){
  <div class="col-12 col-md-12" style="margin-top: 50px;">
    <div id="table" class="table-responsive mt-3">
     <table class="table table-borderless" style="font-size: 9pt;">
       <thead>
         <tr class="bg-dark text-light">
           <th>Animal</th>
           <th>Humano</th>
           <th>Status</th>
         </tr>
       </thead>
       <tbody>
         @for(lista of listaBanhoTosa; track lista.id; let i = $index){
         <tr>
           <td>{{ lista.animalNome }}</td>
           <td>{{ lista.animalHumano }}</td>
           <td>
             @if(lista.statusBanhoTosa === 'Em espera'){
               <button  class="btn btn-danger btn-status-b" (click)="alterarStatusBanho(lista)" data-toggle="modal" data-target="#staticBackdrop">Em espera</button>
             }
             @if(lista.statusBanhoTosa === 'Banho'){
               <button  class="btn btn-primary btn-status-b" (click)="alterarStatusBanho(lista)" data-toggle="modal" data-target="#staticBackdrop">Banho</button>
             }
             @if(lista.statusBanhoTosa === 'Finalizado'){
               <button  class="btn btn-success btn-status-b" (click)="alterarStatusBanho(lista)" data-toggle="modal" data-target="#staticBackdrop">Finalizado</button>
             }
           </td>
         </tr>
       }
       </tbody>
     </table>
    </div>
   </div>
} @placeholder {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary mt-4" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
} @loading {
  <p>Carregando a Lista de Banhos...</p>
}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmar mudança do Status para: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <span [style.color]="mudarCor(this.novoStatusBanho)" style="font-size: 14pt; font-weight: bold;">
              @if(this.novoStatusBanho != 'enviarEmail'){
                {{ this.novoStatusBanho }}
              } @else {
                <span> Enviar Email para o Cliente?</span>
              }
              @if(this.novoStatusBanho != 'enviarEmail'){
                <span>
                  🚿 🛁
                </span>
              } @else {
                <span>
                  📨
                </span>
              }
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editarStatusBanho()">Atualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>



