<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmar Exclusão de Registro?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <span>Registro: {{ entrada.id }}</span>
            @if(entrada.descricao){
              <span> - {{ entrada.descricao }}</span>
            }
            @if(entrada.nome){
              <span> - {{ entrada.nome }}</span>
            }
            @if(entrada.sobrenome){
              <span> {{ entrada.sobrenome }}</span>
            }
            @if(entrada.nomeFantasia){
              <span> - {{ entrada.nomeFantasia }}</span>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-danger" (click)="passarId(entrada.id)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>

