<nav class="navbar orange fixed-top">
  <div class="row col-12">
      <div class="col-12 col-lg-3 col-xl-3 d-flex align-items-center">
        <button type="button" class="navbar-toggler d-lg-none d-xl-none" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseExample">
          <img src="assets/hamburger.gif" alt="Menu" class="hamburger">
        </button>
          <a href="#" class="navbar-brand" class="logo">
            <img src="assets/logo_new.png" alt="kasapet" width="60">
          </a>
      </div>
      <div class="col col-lg-9 col-xl-9 barra d-flex align-items-center justify-content-end">
        <ul class="list-unstyled d-none d-lg-flex d-xl-flex">
          <li class="nav-item">
              <a routerLink="/humano" data-toggle="collapse" href="#collapseMenu" class="nav-link active">Humano</a>
          </li>
          <li class="nav-item">
              <a routerLink="/animal" data-toggle="collapse" href="#collapseMenu" class="nav-link active">Animal</a>
          </li>
          <li class="nav-item">
            <a routerLink="/banho" data-toggle="collapse" href="#collapseMenu" class="nav-link">Banho e Tosa</a>
          </li>
          <li class="nav-item">
            <a routerLink="banho/status/banho" data-toggle="collapse" href="#collapseMenu" class="nav-link">Status Banho</a>
          </li>
          <li class="nav-item">
            <a routerLink="/vacina" data-toggle="collapse" href="#collapseMenu" class="nav-link">Vacinas</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home" data-toggle="collapse" href="#collapseMenu" class="nav-link">+ Opções</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<div class="collapse menu d-lg-none d-xl-none bg-light" id="collapseMenu">
  <ul class="list-unstyled">
    <li class="nav-item">
        <a data-toggle="collapse" (click)="navegarPara('humano')" href="#collapseMenu"  class="nav-link">HUMANO</a>
    </li>
    <li class="nav-item">
      <a data-toggle="collapse" (click)="navegarPara('raca')" href="#collapseMenu"  class="nav-link">RAÇA</a>
  </li>
    <li class="nav-item">
        <a data-toggle="collapse" (click)="navegarPara('animal')" href="#collapseMenu"  class="nav-link">ANIMAL</a>
    </li>
    <li class="nav-item">
      <a data-toggle="collapse" (click)="navegarPara('tipoBanho')" href="#collapseMenu" class="nav-link">TIPO BANHO</a>
    </li>
    <li class="nav-item">
      <a data-toggle="collapse" (click)="navegarPara('banhoTosa')" href="#collapseMenu" class="nav-link">BANHO É TOSA</a>
    </li>
    <li class="nav-item">
        <a data-toggle="collapse" (click)="navegarPara('statusBanho')" href="#collapseMenu" class="nav-link">STATUS BANHO</a>
    </li>
    <li class="nav-item">
      <a data-toggle="collapse" (click)="navegarPara('tipoVacina')" href="#collapseMenu" class="nav-link">TIPO VACINA</a>
    </li>
    <li class="nav-item">
        <a data-toggle="collapse" (click)="navegarPara('vacina')" href="#collapseMenu" class="nav-link">VACINAS</a>
    </li>
  </ul>
</div>
@if(url_atual !== 'http://localhost:4200/home'){
  <div class="container" style="min-height: 900px;">
    <router-outlet/>
  </div>
}

@if(url_atual === 'http://localhost:4200/home'){
  <div class="container-fluid" style="min-height: 600px;">
    <app-home/>
  </div>
}

<footer class="py-3 bg-light fixed-bottom">
      <div class="small text-center text-muted bg-light">
        Desenvolvido com <i style="color: red;" class="fa fa-heart"></i> por:&nbsp;<span style="color: red; font-weight: bold;">KEN</span><span style="color:black; font-weight: bold;">TEC&nbsp;</span>
        <span style="font-weight: bold; color: #000;">
          <script>
            document.write(new Date().getFullYear());
         </script>
        </span>
      </div>
</footer>




