<div class="col-12 " style="margin-top: 50px;">
    <nav>
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item"><a routerLink="/tipo-vacina">Listagem</a></li>
        <li class="breadcrumb-item active">Tipo Vacina</li>
      </ol>
    </nav>
    <form class="needs-validation" novalidate [formGroup]="tipoVacinaForm">
      <div class="card">
        <div class="card-header bg-dark" style="color: white; font-size: 14pt; font-weight: bold;">
          Inclusão e Gerenciamento de Vacinas
        </div>
        <div class="card-body">
          <nav class="col-md-12">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cadastro</a>
            </div>
          </nav>
          <div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="form-row col-md-12 mt-3">
                <div class="form-group col-md-2">
                  <label for="id">Identificador:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="id"
                    formControlName="id"
                    readonly/>
                </div>
                <div class="form-group col-md-6">
                  <label for="descricao">Descrição:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="descricao"
                    formControlName="descricao"
                    />
                </div>
                <div class="form-group col-md-2">
                  <label for="valor">Valor:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">R$</span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      id="valor"
                      style="text-align: right;"
                      formControlName="valor"
                      />
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label for="status">Status da Vacina:</label>
                  <select id="status" class="form-control" formControlName="status">
                    <option value="">Selecione</option>
                    <option>Ativo</option>
                    <option>Inativo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="float-right mt-3">
      <button  type="submit" data-toggle="modal" data-target="#ModalSalvar" class="btn btn-success" (click)="onSubmit()">
        <i class="fas fa-save"></i> &nbsp;Salvar
      </button>
      <button routerLink="/tipo-vacina" class="btn btn-info ">
        <i class="fas fa-backward"></i>&nbsp;Voltar
      </button>
    </div>
  </div>
