@charset "UTF-8";

@page {
  size: a3;
}

body {
  font-family: inherit;
}

@media (min-width: 280px) and (max-width: 410px)  {
  img.logo {
    width: 60vw !important;
  }

  h1.title-home {
    font-size: 20pt !important;
  }

  img.img-shopp{
    width: 120% !important;
  }

  .migalha-shopp-page{
    font-size: 10pt !important;
  }

  .title-shopp-page{
    font-size: 20pt !important;
  }

  div#fone {
    font-size: 10pt !important;
    padding-left: 0;
    margin-left: 0;
  }

  div.tel {
    padding-bottom: 10px !important;
  }

  div.tel > a {
    font-size: 10pt !important;
  }

  .title-se {
    margin-bottom: 5px;
    font-weight: bold;
  }

  div#site {
    font-size: 10pt !important;
    padding-left: 0;
    margin-left: 0;
  }

  div.se {
    padding-bottom: 5px !important;
  }

  div.se > a {
    font-size: 9pt !important;
    margin-left: -30px;
  }

  div#redes {
    font-size: 10pt !important;
    padding-left: 0;
    margin-left: 0;
  }

  div.ajuste-carrosel-casa {
    margin-top: 150px !important;
  }
}

@media (min-width: 411px) and (max-width: 575px) and (orientation: portrait) {
  img.logo {
    width: 45vw !important;
  }
}

@media (min-width: 576px) {
  img.logo {
    width: 50vw !important;
  }
}

@media (min-width: 768px) {
  img.logo {
    width: 35vw !important;
  }
}

@media (min-width: 992px) {
  img.logo {
    width: 20vw !important;
    margin-left: 10px !important;
  }
}

@media (min-width: 1200px) {
  img.logo {
    width: 13vw !important;
    margin-left: 10px !important;
  }
}

div#faixa {
  background-color: #FF4E00;
  height: 100px;
  font-size: 20pt;
  color: #fff;
}
